/*
Conversor de monedas

*{
  margin: 0;
}

*/

*{
  padding: 0;
}

body{
  color: #fff;
  background-image: radial-gradient(circle, #0ea450, #008b7e, #006ea0, #004b9f, #191d74);
}
  
.mexcla{
  background-image: radial-gradient(circle, #0ea450, #4bb047, #71bb3e, #96c635, #bacf2e);
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
}

.formulario{
  margin: 20px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
}

#uno{
  width: 80px;
  height: 15px;
}

#dos{
  width: 80px;
  height: 15px;
}

#tres{
  width: 80px;
  height: 15px;
}

#valor{
  font-size: 20px;
}

#cotizador{
  font-size: 20px;
  border-radius: 12%;
  background-image: radial-gradient(circle, #0ea450, #4bb047, #71bb3e, #96c635, #bacf2e);
  color: #fff
}

#botondeslogueo{
  font-size: 20px;
  border-radius: 12%;
  background-color: rgb(237, 233, 15);
  color: rgb(72, 65, 65);
  position: absolute;
  right: 100px;
  top: 80px;
}

#botonlogueo{
  font-size: 20px;
  border-radius: 12%;
  background-color: green;
  color: #fff;
  position: absolute;
  right: 100px;
  top: 45px;
}

#bienvenida{
  position: absolute;
  right: 250px;
  top: 0px;
}

.rojo{
  color: #fff;
  background-image: linear-gradient(to right top, #ec1f1f, #f33f3a, #f95753, #fd6d6a, #ff8181);
}
